doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        title Восстановление пароля на сайт #{platform_name}
        style.
            .container { padding: 0 100px; }



    body.container
        a(href=url_site)
            img(src="https://firebasestorage.googleapis.com/v0/b/osnova-course.appspot.com/o/logo_white_bg.jpg?alt=media&token=3781892d-1475-4940-9c43-eb4b8a3b25c5",  alt="Учебный центр Основа" style="width: 130px;")
        h3 Здравствуйте, #{name} 
        p Вы отправили запрос на восстановление пароля, от&nbsp;
            a(href=url_site) сайта «#{platform_name}».
        br
        p Для восстановления пароля, перейдите по ссылке ниже:
        p
            a(href=url_link) изменить пароль
        
        br
        br
        p Если вы не отправляли запрос на сброс пароля, просто проигнорируйте это письмо.

        hr
        footer
            p С наилучшими пожеланиями, «#{platform_name}»
